# $Header$
# project7.rc cfg file
debug		!	main		DEBUG		0
classname	=s	main		CLASSNAME	undef
baseclass	=s	main		BASECLASS	"ZGlass"
sunptrvar	=s	.		SUNPTRVAR	"mSaturn"
infile		=s	main		INFILE		undef
1file		=s	main		OUT1FILE	'skip'
3file		=s	main		OUT3FILE	'skip'
5file		=s	main		OUT5FILE	'skip'
7file		=s	main		OUT7FILE	'skip'

locksetmets	!	.		LOCK_SET_METHS	1
lockgetmets	!	.		LOCK_GET_METHS	1
